* {
  margin: 0 !important;
  padding: 0 !important;
}
.App {
  height: fit-content;
}
.navbar {
  height: 100%;
  width: 100%;
}
ul li {
  list-style-type: none;
}

@media screen and (max-width: 414px) {
  ul .nav-item {
    font-size: 11px;
  }
}
.text-wrapper {
  max-width: 500px;
  padding: 48px !important;
  margin: 0 auto !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.container {
  margin: 0 auto !important;
}
.padding-24 {
  padding: 24px !important;
}

.product-name,
.product-description {
  color: black;
}
.product-image {
  border: 1px solid gray;

  height: auto;
}
.product-details {
  padding: 24px !important;
}

.margin-0 {
  margin: 0 auto !important;
}
.description {
  padding: 24px !important;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageNotFound {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
a:hover,
a:active,
a:focus {
  color: white;
}
.date-time {
  max-width: 500px;
}
input {
  padding-left: 5px !important;
}
.btn {
  padding: 16px !important;
}

h1 {
  font-size: 3rem;
}
.nutrition-table {
  max-width: 500px;
  border: 1px solid gray;
  margin-top: 24px !important;
}
.ingredients {
  margin-top: 24px !important;
}

.button {
  width: 220px;
  margin: 0 auto !important;
}
.back {
  width: 120px;
  margin-top: 24px !important;
}
.menu-btn {
  width: 100%;
}

.badge {
  padding: 10px !important;
  margin: 8px !important;
}

.btn {
  border-radius: 25px !important;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
